.ZEEGA-player-citations {
    bottom: 0;
    position: absolute;
    width: 100%;
    z-index: 11;
    pointer-events: auto;
    .clearfix;

    a {
        cursor: pointer;
    }

    .citation-meta {
        font-size: 11px;
        clear: both;
        margin-top: 5px;

        .citation-title {
            position: relative;
            top: 10px;
        }
    }

    .citation-soundtrack {
        height: 45px;
        width: 45px;
        float: right;
        display: none;
        margin-left: 22px;
        border: 2px solid #222;
        border-radius: 2px;
        box-shadow: 0 0 10px cadetblue;
        position: relative;

        .citation-trackback {
            position: absolute;
            left: -20px;
        }

        .play-pause {
            position: absolute;
            height: 100%;
            width: 100%;

            .pp-btn {
                background: url(../img/audio-sprites.png);
                background-size: 25px 125px;
                position: absolute;
                margin: auto;
                left: 0;
                right: 0;
                top: 0;
                bottom: 0;
                height: 25px;
                width: 25px;
                opacity: 0.7;

                &.pause {
                    background-position: 0 -25px;
                }

                &:hover {
                    opacity: 0.85;
                }
            }
        }
    }

    .ZEEGA-fullscreen {
        position: relative;
        background-image: url(../img/fullscreen.png);
        background-size: 45px;
        background-repeat: no-repeat;
        width: 45px;
        height: 45px;
        float: right;
        margin-left: 10px;
        // display: none;
        opacity: 0.75;
        .transition( opacity, 0.5s );
        &:hover {
            opacity: 1;
            .transition( opacity, 0.5s );
        }
    }

    .ZEEGA-home {
        position: relative;
        background-image: url(../img/restart.png);
        background-size: 45px;
        background-repeat: no-repeat;
        width: 45px;
        height: 45px;
        float: right;
        display: none;
        opacity: 0.75;
        .transition( opacity, 0.5s );
        &:hover {
            opacity: 1;
            .transition( opacity, 0.5s );
        }
        // img {
        //     width: 100%;
        // }
    }
}

.remix-meta {
    position: relative;
    .clearfix;
    .remix-tab {
        background-image: url(../img/remix-corner.png);
        height: 75px;
        width: 75px;
        background-size: 100%;
        background-repeat: no-repeat;
        float: left;
        opacity: 0.8;
    }
    .remix-trail {
        position: absolute;
        bottom: 5px;
        margin-left: 75px;
    }
}

.ZEEGA-chrome-metablock {
    color: white;
    position: relative;
    bottom: 0;
    width: 100%;
    background: rgba(0,0,0,0.5);
    z-index: 1;
    border-top: 1px solid #222;

    a {
        color: orangered;
    }
    
    .meta-inner {
        padding: 10px 20px;
        .clearfix;
    }

    .left-col {
        .clearfix;
        float:left;
        margin-right: 20px
    }

    .right-col {
        float: left;
        width: 300px;
        min-height: 20px;

        .username {
            font-size: 11px;
            position: absolute;
            bottom: 10px;

            .zeega-views {
                opacity: 0.75;
                .transition( opacity, 0.5s );

                i {
                    position: relative;
                    top: -2px;
                }

                &:hover {
                    opacity: 1;
                    .transition( opacity, 0.5s );
                }
            }
        }
        .caption {
            line-height: 1.1em;
            font-size: 13px;
            word-wrap: break-word;
        }
    }

    .favorite {
        float:left;
        display: none;

        .btnz{
            background: transparent;
            border: 1px solid #666;
            box-shadow: none;
            padding: 5px 20px;
            bottom: 10px;
            position: absolute;
            color: #ddd;

            &:hover{
                background-color: orangered;
                box-shadow: 0 0 15px rgba(255,255,255,0.5);
            }
            &.favorited{
                
                background-color: orangered;
                background-image:none;
            }
        }
    }

    .citations {
        float: right;
        li {
            float: right;
            margin-right: 5px;
        }
    }
}