.ZEEGA-player-citations {
    bottom: 0;
    padding: 10px 0;
    pointer-events: none;
    position: absolute;
    width: 100%;
    z-index: 11;
    pointer-events: auto;

    a {
        cursor: pointer;
    }

    .citation-meta {
        font-size: 11px;
        clear: both;
        margin-top: 5px;
    }
}