.ZEEGA-player-citations {
    bottom: 0;
    padding: 10px 0;
    pointer-events: none;
    position: absolute;
    width: 100%;
    z-index: 11;
    pointer-events: auto;

    a {
        cursor: pointer;
    }

    .citation-meta {
        font-size: 11px;
        clear: both;
        margin-top: 5px;
    }

    .ZEEGA-home {
        position: relative;
        background-image: url(../img/restart.png);
        background-size: 45px;
        background-repeat: no-repeat;
        width: 45px;
        height: 45px;
        float: right;
        display: none;
        opacity: 0.75;
        .transition( opacity, 0.5s );
        &:hover {
            opacity: 1;
            .transition( opacity, 0.5s );
        }
        img {
            width: 100%;
        }
    }
}