<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width,initial-scale=1">

	<meta property="og:title" content="Austin Music Map"/>
	<meta property="og:type" content="movie"/>
	<meta property="og:url" content="http://austinmusicmap.com/"/>

	<meta property="og:image" content="http://austinmusicmap.com/assets/img/amm_logo.png"/>
	<meta property="og:site_name" content="Austin Music Map"/>
	<meta property="fb:app_id" content="48119224995" />
	<meta property="og:description" content="The Austin Music Map is a participatory documentary project that explores Austin&#039;s diverse sonic..." />


	<link rel="shortcut icon" href="assets/img/amm.ico" />
	<title>Austin Music Map</title>

	<!-- Application root. -->
	<base href="/">

	<script>
		localStorage.api = 'http://alpha.zeega.org/api';
		if (!window.console) console = {log: function() {}};
	</script>



	<!-- Google Analytics -->

	<script type="text/javascript">

		var _gaq = _gaq || [];
		_gaq.push(['_setAccount', 'UA-31282719-2']);
		_gaq.push(['_trackPageview']);

		(function() {
		var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		})();

	</script>



	<!-- Soundcloud -->

	<script src="//connect.soundcloud.com/sdk.js"></script>
	<script>
	  	SC.initialize({
				client_id: "3b1730e670b204fc2bc9611a88461ee2",
				redirect_uri: "http://austinmusicmap.org"
			});
	</script>






	<!-- Application styles. -->
	<link rel="stylesheet" href="assets/css/index.css">

</head>

<body>
	<!-- Main container. -->
	<div role="main" id="main"></div>

	<!-- Application source. -->
	<!--<script src="assets/data/austin_neighborhoods.js"></script>-->
	<script src="assets/vendor/leaflet/dist/leaflet.js"></script>
	<script data-main="app/config" src="assets/js/libs/require.js"></script>
	<script src="//connect.soundcloud.com/sdk.js"></script>



</body>
</html>
