[class^="zitem-"] {
  background-image: url('../img/zitems-50px.png');
  background-position: 0px 0px;
  background-repeat: no-repeat;
  display: inline-block;
  height: 50px;
  vertical-align: text-top;
  width: 50px;
}
[class^="zitem-"].zitem-30 {
  background-image: url('../img/zitems-30px.png');
  height: 30px;
  width: 30px;
}
.zitem-zeega00 {
  background-position: -50px 0px;
}
.zitem-zeega00.loaded {
  background-position: 0 0px;
}
.zitem-zeega00.loaded {
  background-position: -100px 0px;
}
.zitem-zeega00.zitem-30 {
  background-position: -30px 0px;
}
.zitem-zeega00.zitem-30.loaded {
  background-position: 0 0px;
}
.zitem-zeega00.zitem-30.error {
  background-position: -60px 0px;
}
.zitem-zeega01 {
  background-position: -50px -50px;
}
.zitem-zeega01.loaded {
  background-position: 0 -50px;
}
.zitem-zeega01.loaded {
  background-position: -100px -50px;
}
.zitem-zeega01.zitem-30 {
  background-position: -30px -30px;
}
.zitem-zeega01.zitem-30.loaded {
  background-position: 0 -30px;
}
.zitem-zeega01.zitem-30.error {
  background-position: -60px -30px;
}
.zitem-flickr {
  background-position: -50px -100px;
}
.zitem-flickr.loaded {
  background-position: 0 -100px;
}
.zitem-flickr.loaded {
  background-position: -100px -100px;
}
.zitem-flickr.zitem-30 {
  background-position: -30px -60px;
}
.zitem-flickr.zitem-30.loaded {
  background-position: 0 -60px;
}
.zitem-flickr.zitem-30.error {
  background-position: -60px -60px;
}
.zitem-vimeo {
  background-position: -50px -150px;
}
.zitem-vimeo.loaded {
  background-position: 0 -150px;
}
.zitem-vimeo.loaded {
  background-position: -100px -150px;
}
.zitem-vimeo.zitem-30 {
  background-position: -30px -90px;
}
.zitem-vimeo.zitem-30.loaded {
  background-position: 0 -90px;
}
.zitem-vimeo.zitem-30.error {
  background-position: -60px -90px;
}
.zitem-youtube {
  background-position: -50px -200px;
}
.zitem-youtube.loaded {
  background-position: 0 -200px;
}
.zitem-youtube.loaded {
  background-position: -100px -200px;
}
.zitem-youtube.zitem-30 {
  background-position: -30px -120px;
}
.zitem-youtube.zitem-30.loaded {
  background-position: 0 -120px;
}
.zitem-youtube.zitem-30.error {
  background-position: -60px -120px;
}
.zitem-twitter {
  background-position: -50px -250px;
}
.zitem-twitter.loaded {
  background-position: 0 -250px;
}
.zitem-twitter.loaded {
  background-position: -100px -250px;
}
.zitem-twitter.zitem-30 {
  background-position: -30px -150px;
}
.zitem-twitter.zitem-30.loaded {
  background-position: 0 -150px;
}
.zitem-twitter.zitem-30.error {
  background-position: -60px -150px;
}
.zitem-facebook {
  background-position: -50px -300px;
}
.zitem-facebook.loaded {
  background-position: 0 -300px;
}
.zitem-facebook.loaded {
  background-position: -100px -300px;
}
.zitem-facebook.zitem-30 {
  background-position: -30px -180px;
}
.zitem-facebook.zitem-30.loaded {
  background-position: 0 -180px;
}
.zitem-facebook.zitem-30.error {
  background-position: -60px -180px;
}
.zitem-google {
  background-position: -50px -350px;
}
.zitem-google.loaded {
  background-position: 0 -350px;
}
.zitem-google.loaded {
  background-position: -100px -350px;
}
.zitem-google.zitem-30 {
  background-position: -30px -210px;
}
.zitem-google.zitem-30.loaded {
  background-position: 0 -210px;
}
.zitem-google.zitem-30.error {
  background-position: -60px -210px;
}
.zitem-lastfm {
  background-position: -50px -400px;
}
.zitem-lastfm.loaded {
  background-position: 0 -400px;
}
.zitem-lastfm.loaded {
  background-position: -100px -400px;
}
.zitem-lastfm.zitem-30 {
  background-position: -30px -240px;
}
.zitem-lastfm.zitem-30.loaded {
  background-position: 0 -240px;
}
.zitem-lastfm.zitem-30.error {
  background-position: -60px -240px;
}
.zitem-tumblr {
  background-position: -50px -450px;
}
.zitem-tumblr.loaded {
  background-position: 0 -450px;
}
.zitem-tumblr.loaded {
  background-position: -100px -450px;
}
.zitem-tumblr.zitem-30 {
  background-position: -30px -270px;
}
.zitem-tumblr.zitem-30.loaded {
  background-position: 0 -270px;
}
.zitem-tumblr.zitem-30.error {
  background-position: -60px -270px;
}
.zitem-rss {
  background-position: -50px -500px;
}
.zitem-rss.loaded {
  background-position: 0 -500px;
}
.zitem-rss.loaded {
  background-position: -100px -500px;
}
.zitem-rss.zitem-30 {
  background-position: -30px -300px;
}
.zitem-rss.zitem-30.loaded {
  background-position: 0 -300px;
}
.zitem-rss.zitem-30.error {
  background-position: -60px -300px;
}
.zitem-picasa {
  background-position: -50px -550px;
}
.zitem-picasa.loaded {
  background-position: 0 -550px;
}
.zitem-picasa.loaded {
  background-position: -100px -550px;
}
.zitem-picasa.zitem-30 {
  background-position: -30px -330px;
}
.zitem-picasa.zitem-30.loaded {
  background-position: 0 -330px;
}
.zitem-picasa.zitem-30.error {
  background-position: -60px -330px;
}
.zitem-audio {
  background-position: -50px -600px;
}
.zitem-audio.loaded {
  background-position: 0 -600px;
}
.zitem-audio.loaded {
  background-position: -100px -600px;
}
.zitem-audio.zitem-30 {
  background-position: -30px -360px;
}
.zitem-audio.zitem-30.loaded {
  background-position: 0 -360px;
}
.zitem-audio.zitem-30.error {
  background-position: -60px -360px;
}
.zitem-geo {
  background-position: -50px -650px;
}
.zitem-geo.loaded {
  background-position: 0 -650px;
}
.zitem-geo.loaded {
  background-position: -100px -650px;
}
.zitem-geo.zitem-30 {
  background-position: -30px -390px;
}
.zitem-geo.zitem-30.loaded {
  background-position: 0 -390px;
}
.zitem-geo.zitem-30.error {
  background-position: -60px -390px;
}
.zitem-image {
  background-position: -50px -700px;
}
.zitem-image.loaded {
  background-position: 0 -700px;
}
.zitem-image.loaded {
  background-position: -100px -700px;
}
.zitem-image.zitem-30 {
  background-position: -30px -420px;
}
.zitem-image.zitem-30.loaded {
  background-position: 0 -420px;
}
.zitem-image.zitem-30.error {
  background-position: -60px -420px;
}
.zitem-video {
  background-position: -50px -750px;
}
.zitem-video.loaded {
  background-position: 0 -750px;
}
.zitem-video.loaded {
  background-position: -100px -750px;
}
.zitem-video.zitem-30 {
  background-position: -30px -450px;
}
.zitem-video.zitem-30.loaded {
  background-position: 0 -450px;
}
.zitem-video.zitem-30.error {
  background-position: -60px -450px;
}
.zitem-dropbox {
  background-position: -50px -800px;
}
.zitem-dropbox.loaded {
  background-position: 0 -800px;
}
.zitem-dropbox.loaded {
  background-position: -100px -800px;
}
.zitem-dropbox.zitem-30 {
  background-position: -30px -480px;
}
.zitem-dropbox.zitem-30.loaded {
  background-position: 0 -480px;
}
.zitem-dropbox.zitem-30.error {
  background-position: -60px -480px;
}
.zitem-soundcloud {
  background-position: -50px -850px;
}
.zitem-soundcloud.loaded {
  background-position: 0 -850px;
}
.zitem-soundcloud.loaded {
  background-position: -100px -850px;
}
.zitem-soundcloud.zitem-30 {
  background-position: -30px -510px;
}
.zitem-soundcloud.zitem-30.loaded {
  background-position: 0 -510px;
}
.zitem-soundcloud.zitem-30.error {
  background-position: -60px -510px;
}
.zitem-mapbox {
  background-position: -50px -900px;
}
.zitem-mapbox.loaded {
  background-position: 0 -900px;
}
.zitem-mapbox.loaded {
  background-position: -100px -900px;
}
.zitem-mapbox.zitem-30 {
  background-position: -30px -540px;
}
.zitem-mapbox.zitem-30.loaded {
  background-position: 0 -540px;
}
.zitem-mapbox.zitem-30.error {
  background-position: -60px -540px;
}
.zitem-absolute {
  background-position: -50px -950px;
}
.zitem-absolute.loaded {
  background-position: 0 -950px;
}
.zitem-absolute.loaded {
  background-position: -100px -950px;
}
.zitem-absolute.zitem-30 {
  background-position: -30px -570px;
}
.zitem-absolute.zitem-30.loaded {
  background-position: 0 -570px;
}
.zitem-absolute.zitem-30.error {
  background-position: -60px -570px;
}
.zitem-internetarchive {
  background-position: -50px -1000px;
}
.zitem-internetarchive.loaded {
  background-position: 0 -1000px;
}
.zitem-internetarchive.loaded {
  background-position: -100px -1000px;
}
.zitem-internetarchive.zitem-30 {
  background-position: -30px -600px;
}
.zitem-internetarchive.zitem-30.loaded {
  background-position: 0 -600px;
}
.zitem-internetarchive.zitem-30.error {
  background-position: -60px -600px;
}
.zitem-documentcloud {
  background-position: -50px -1050px;
}
.zitem-documentcloud.loaded {
  background-position: 0 -1050px;
}
.zitem-documentcloud.loaded {
  background-position: -100px -1050px;
}
.zitem-documentcloud.zitem-30 {
  background-position: -30px -630px;
}
.zitem-documentcloud.zitem-30.loaded {
  background-position: 0 -630px;
}
.zitem-documentcloud.zitem-30.error {
  background-position: -60px -630px;
}
.zitem-testamonial {
  background-position: -50px -1100px;
}
.zitem-testamonial.loaded {
  background-position: 0 -1100px;
}
.zitem-testamonial.loaded {
  background-position: -100px -1100px;
}
.zitem-testamonial.zitem-30 {
  background-position: -30px -660px;
}
.zitem-testamonial.zitem-30.loaded {
  background-position: 0 -660px;
}
.zitem-testamonial.zitem-30.error {
  background-position: -60px -660px;
}
.zitem-instagram {
  background-position: -50px -1150px;
}
.zitem-instagram.loaded {
  background-position: 0 -1150px;
}
.zitem-instagram.loaded {
  background-position: -100px -1150px;
}
.zitem-instagram.zitem-30 {
  background-position: -30px -690px;
}
.zitem-instagram.zitem-30.loaded {
  background-position: 0 -690px;
}
.zitem-instagram.zitem-30.error {
  background-position: -60px -690px;
}
[class^="icon-"],
[class*=" icon-"] {
  display: inline-block;
  width: 14px;
  height: 14px;
  *margin-right: .3em;
  line-height: 14px;
  vertical-align: text-top;
  background-image: url("../img/glyphicons-halflings.png");
  background-position: 14px 14px;
  background-repeat: no-repeat;
  margin-top: 1px;
}
/* White icons with optional class, or on hover/active states of certain elements */
.icon-white,
.nav-pills > .active > a > [class^="icon-"],
.nav-pills > .active > a > [class*=" icon-"],
.nav-list > .active > a > [class^="icon-"],
.nav-list > .active > a > [class*=" icon-"],
.navbar-inverse .nav > .active > a > [class^="icon-"],
.navbar-inverse .nav > .active > a > [class*=" icon-"],
.dropdown-menu > li > a:hover > [class^="icon-"],
.dropdown-menu > li > a:hover > [class*=" icon-"],
.dropdown-menu > .active > a > [class^="icon-"],
.dropdown-menu > .active > a > [class*=" icon-"],
.dropdown-submenu:hover > a > [class^="icon-"],
.dropdown-submenu:hover > a > [class*=" icon-"] {
  background-image: url("../img/glyphicons-halflings-white.png");
}
.icon-glass {
  background-position: 0      0;
}
.icon-music {
  background-position: -24px 0;
}
.icon-search {
  background-position: -48px 0;
}
.icon-envelope {
  background-position: -72px 0;
}
.icon-heart {
  background-position: -96px 0;
}
.icon-star {
  background-position: -120px 0;
}
.icon-star-empty {
  background-position: -144px 0;
}
.icon-user {
  background-position: -168px 0;
}
.icon-film {
  background-position: -192px 0;
}
.icon-th-large {
  background-position: -216px 0;
}
.icon-th {
  background-position: -240px 0;
}
.icon-th-list {
  background-position: -264px 0;
}
.icon-ok {
  background-position: -288px 0;
}
.icon-remove {
  background-position: -312px 0;
}
.icon-zoom-in {
  background-position: -336px 0;
}
.icon-zoom-out {
  background-position: -360px 0;
}
.icon-off {
  background-position: -384px 0;
}
.icon-signal {
  background-position: -408px 0;
}
.icon-cog {
  background-position: -432px 0;
}
.icon-trash {
  background-position: -456px 0;
}
.icon-home {
  background-position: 0 -24px;
}
.icon-file {
  background-position: -24px -24px;
}
.icon-time {
  background-position: -48px -24px;
}
.icon-road {
  background-position: -72px -24px;
}
.icon-download-alt {
  background-position: -96px -24px;
}
.icon-download {
  background-position: -120px -24px;
}
.icon-upload {
  background-position: -144px -24px;
}
.icon-inbox {
  background-position: -168px -24px;
}
.icon-play-circle {
  background-position: -192px -24px;
}
.icon-repeat {
  background-position: -216px -24px;
}
.icon-refresh {
  background-position: -240px -24px;
}
.icon-list-alt {
  background-position: -264px -24px;
}
.icon-lock {
  background-position: -287px -24px;
}
.icon-flag {
  background-position: -312px -24px;
}
.icon-headphones {
  background-position: -336px -24px;
}
.icon-volume-off {
  background-position: -360px -24px;
}
.icon-volume-down {
  background-position: -384px -24px;
}
.icon-volume-up {
  background-position: -408px -24px;
}
.icon-qrcode {
  background-position: -432px -24px;
}
.icon-barcode {
  background-position: -456px -24px;
}
.icon-tag {
  background-position: 0 -48px;
}
.icon-tags {
  background-position: -25px -48px;
}
.icon-book {
  background-position: -48px -48px;
}
.icon-bookmark {
  background-position: -72px -48px;
}
.icon-print {
  background-position: -96px -48px;
}
.icon-camera {
  background-position: -120px -48px;
}
.icon-font {
  background-position: -144px -48px;
}
.icon-bold {
  background-position: -167px -48px;
}
.icon-italic {
  background-position: -192px -48px;
}
.icon-text-height {
  background-position: -216px -48px;
}
.icon-text-width {
  background-position: -240px -48px;
}
.icon-align-left {
  background-position: -264px -48px;
}
.icon-align-center {
  background-position: -288px -48px;
}
.icon-align-right {
  background-position: -312px -48px;
}
.icon-align-justify {
  background-position: -336px -48px;
}
.icon-list {
  background-position: -360px -48px;
}
.icon-indent-left {
  background-position: -384px -48px;
}
.icon-indent-right {
  background-position: -408px -48px;
}
.icon-facetime-video {
  background-position: -432px -48px;
}
.icon-picture {
  background-position: -456px -48px;
}
.icon-pencil {
  background-position: 0 -72px;
}
.icon-map-marker {
  background-position: -24px -72px;
}
.icon-adjust {
  background-position: -48px -72px;
}
.icon-tint {
  background-position: -72px -72px;
}
.icon-edit {
  background-position: -96px -72px;
}
.icon-share {
  background-position: -120px -72px;
}
.icon-check {
  background-position: -144px -72px;
}
.icon-move {
  background-position: -168px -72px;
}
.icon-step-backward {
  background-position: -192px -72px;
}
.icon-fast-backward {
  background-position: -216px -72px;
}
.icon-backward {
  background-position: -240px -72px;
}
.icon-play {
  background-position: -264px -72px;
}
.icon-pause {
  background-position: -288px -72px;
}
.icon-stop {
  background-position: -312px -72px;
}
.icon-forward {
  background-position: -336px -72px;
}
.icon-fast-forward {
  background-position: -360px -72px;
}
.icon-step-forward {
  background-position: -384px -72px;
}
.icon-eject {
  background-position: -408px -72px;
}
.icon-chevron-left {
  background-position: -432px -72px;
}
.icon-chevron-right {
  background-position: -456px -72px;
}
.icon-plus-sign {
  background-position: 0 -96px;
}
.icon-minus-sign {
  background-position: -24px -96px;
}
.icon-remove-sign {
  background-position: -48px -96px;
}
.icon-ok-sign {
  background-position: -72px -96px;
}
.icon-question-sign {
  background-position: -96px -96px;
}
.icon-info-sign {
  background-position: -120px -96px;
}
.icon-screenshot {
  background-position: -144px -96px;
}
.icon-remove-circle {
  background-position: -168px -96px;
}
.icon-ok-circle {
  background-position: -192px -96px;
}
.icon-ban-circle {
  background-position: -216px -96px;
}
.icon-arrow-left {
  background-position: -240px -96px;
}
.icon-arrow-right {
  background-position: -264px -96px;
}
.icon-arrow-up {
  background-position: -289px -96px;
}
.icon-arrow-down {
  background-position: -312px -96px;
}
.icon-share-alt {
  background-position: -336px -96px;
}
.icon-resize-full {
  background-position: -360px -96px;
}
.icon-resize-small {
  background-position: -384px -96px;
}
.icon-plus {
  background-position: -408px -96px;
}
.icon-minus {
  background-position: -433px -96px;
}
.icon-asterisk {
  background-position: -456px -96px;
}
.icon-exclamation-sign {
  background-position: 0 -120px;
}
.icon-gift {
  background-position: -24px -120px;
}
.icon-leaf {
  background-position: -48px -120px;
}
.icon-fire {
  background-position: -72px -120px;
}
.icon-eye-open {
  background-position: -96px -120px;
}
.icon-eye-close {
  background-position: -120px -120px;
}
.icon-warning-sign {
  background-position: -144px -120px;
}
.icon-plane {
  background-position: -168px -120px;
}
.icon-calendar {
  background-position: -192px -120px;
}
.icon-random {
  background-position: -216px -120px;
  width: 16px;
}
.icon-comment {
  background-position: -240px -120px;
}
.icon-magnet {
  background-position: -264px -120px;
}
.icon-chevron-up {
  background-position: -288px -120px;
}
.icon-chevron-down {
  background-position: -313px -119px;
}
.icon-retweet {
  background-position: -336px -120px;
}
.icon-shopping-cart {
  background-position: -360px -120px;
}
.icon-folder-close {
  background-position: -384px -120px;
}
.icon-folder-open {
  background-position: -408px -120px;
  width: 16px;
}
.icon-resize-vertical {
  background-position: -432px -119px;
}
.icon-resize-horizontal {
  background-position: -456px -118px;
}
.icon-hdd {
  background-position: 0 -144px;
}
.icon-bullhorn {
  background-position: -24px -144px;
}
.icon-bell {
  background-position: -48px -144px;
}
.icon-certificate {
  background-position: -72px -144px;
}
.icon-thumbs-up {
  background-position: -96px -144px;
}
.icon-thumbs-down {
  background-position: -120px -144px;
}
.icon-hand-right {
  background-position: -144px -144px;
}
.icon-hand-left {
  background-position: -168px -144px;
}
.icon-hand-up {
  background-position: -192px -144px;
}
.icon-hand-down {
  background-position: -216px -144px;
}
.icon-circle-arrow-right {
  background-position: -240px -144px;
}
.icon-circle-arrow-left {
  background-position: -264px -144px;
}
.icon-circle-arrow-up {
  background-position: -288px -144px;
}
.icon-circle-arrow-down {
  background-position: -312px -144px;
}
.icon-globe {
  background-position: -336px -144px;
}
.icon-wrench {
  background-position: -360px -144px;
}
.icon-tasks {
  background-position: -384px -144px;
}
.icon-filter {
  background-position: -408px -144px;
}
.icon-briefcase {
  background-position: -432px -144px;
}
.icon-fullscreen {
  background-position: -456px -144px;
}
html {
  background: black;
  font-family: 'Helvetica', sans-serif;
}
#main {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 10;
}
#main #overlays {
  height: 100%;
  position: absolute;
  width: 100%;
  z-index: 2;
}
#main #player {
  height: 100%;
  position: absolute;
  width: 100%;
  z-index: 1;
}
a {
  color: white;
  text-decoration: none;
}
a:hover {
  color: orangered;
}
a:active {
  color: orangered;
}
.ZEEGA-player-controls {
  position: absolute;
  top: 40%;
  width: 100%;
}
.arrow {
  display: inline-block;
  height: 60px;
  border-left: 10px solid;
  border-top: 10px solid;
  border-color: #ffffff;
  opacity: 0.85;
  position: absolute;
  transition: opacity 0.5s;
  -moz-transition: opacity 0.5s;
  -webkit-transition: opacity 0.5s;
  -o-transition: opacity 0.5s;
  transition: border-color 0.5s;
  -moz-transition: border-color 0.5s;
  /* Firefox 4 */

  -webkit-transition: border-color 0.5s;
  /* Safari and Chrome */

  -o-transition: border-color 0.5s;
  /* Opera */

  width: 60px;
  z-index: 100;
  box-shadow: 0 0 50px transparent;
}
.arrow:hover {
  border-color: #ffa500;
  transition: border-color 0.5s;
  -moz-transition: border-color 0.5s;
  -webkit-transition: border-color 0.5s;
  -o-transition: border-color 0.5s;
  opacity: 1;
  transition: opacity 0.5s;
  -moz-transition: opacity 0.5s;
  /* Firefox 4 */

  -webkit-transition: opacity 0.5s;
  /* Safari and Chrome */

  -o-transition: opacity 0.5s;
  /* Opera */

}
.arrow.arrow-left {
  left: 15px;
  transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  /* IE 9 */

  -moz-transform: rotate(-45deg);
  /* Firefox */

  -webkit-transform: rotate(-45deg);
  /* Safari and Chrome */

  -o-transform: rotate(-45deg);
  /* Opera */

  -webkit-filter: drop-shadow(-4px 4px 4px rgba(0, 0, 0, 0.5));
}
.arrow.arrow-left:hover {
  -webkit-filter: drop-shadow(-8px 8px 6px rgba(0, 0, 0, 0.5));
}
.arrow.arrow-right {
  right: 15px;
  transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  /* IE 9 */

  -moz-transform: rotate(135deg);
  /* Firefox */

  -webkit-transform: rotate(135deg);
  /* Safari and Chrome */

  -o-transform: rotate(135deg);
  /* Opera */

  -webkit-filter: drop-shadow(4px -4px 4px rgba(0, 0, 0, 0.5));
}
.arrow.arrow-right:hover {
  -webkit-filter: drop-shadow(8px -8px 6px rgba(0, 0, 0, 0.5));
}
.arrow.disabled {
  opacity: 0.0;
  transition: opacity 0.5s;
  -moz-transition: opacity 0.5s;
  /* Firefox 4 */

  -webkit-transition: opacity 0.5s;
  /* Safari and Chrome */

  -o-transition: opacity 0.5s;
  /* Opera */

}
.ZEEGA-player-citations {
  bottom: 0;
  padding: 10px 0;
  position: absolute;
  width: 100%;
}
.ZEEGA-player-citations > ul {
  padding: 0 10px;
}
.ZEEGA-player-citations ul.ZEEGA-citations-primary {
  margin: 0;
  padding: 0;
}
.ZEEGA-player-citations ul.ZEEGA-citations-primary > li {
  float: left;
  margin-right: 5px;
}
.ZEEGA-player-citations ul.ZEEGA-citations-primary > li:hover .player-citation-bubble {
  display: block;
}
.ZEEGA-player-citations ul.ZEEGA-citations-aux {
  float: right;
}
.ZEEGA-player-citations .player-citation-bubble {
  background: rgba(0, 0, 0, 0.75);
  border-radius: 5px;
  bottom: 40px;
  box-shadow: 5px 3px 10px rgba(0, 0, 0, 0.5);
  color: white;
  display: none;
  font-family: sans-serif;
  font-size: 12px;
  padding: 10px;
  position: absolute;
  line-height: 18px;
  width: 300px;
}
.ZEEGA-player-citations .player-citation-bubble:after {
  content: "";
  display: table;
  clear: both;
}
.ZEEGA-player-citations .player-citation-bubble .player-citation-content {
  float: left;
  width: 190px;
}
.ZEEGA-player-citations .player-citation-bubble .player-citation-thumb {
  float: right;
}
.ZEEGA-player-citations .player-citation-bubble .citation-subhead {
  font-weight: bold;
  color: #AAA;
}
.ZEEGA-loader-overlay {
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.25);
  color: white;
}
.ZEEGA-loader-overlay h1 {
  font-size: 4em;
  text-shadow: 2px 2px 12px rgba(0, 0, 0, 0.5);
}
.ZEEGA-loader-overlay h2 {
  font-size: 1em;
  opacity: 0.7;
  margin-top: 20px;
  text-shadow: 2px 2px 12px rgba(0, 0, 0, 0.5);
}
.ZEEGA-loader-overlay .ZEEGA-loader-inner {
  padding: 100px 20px 0 20px;
}
.ZEEGA-loader-overlay .ZEEGA-loading-bar-wrapper {
  height: 4px;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 4px;
  margin-top: 20px;
  position: relative;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.5);
}
.ZEEGA-loader-overlay .ZEEGA-loading-bar-wrapper .ZEEGA-loading-bar {
  border-radius: 4px;
  position: absolute;
  left: 0;
  height: 100%;
  background: orangered;
  width: 0%;
}
.ZEEGA-loader-overlay .ZEEGA-loading-layers {
  margin-top: 10px;
}
.ZEEGA-loader-overlay .ZEEGA-loading-layers > li {
  float: left;
  margin-right: 5px;
}
.ZEEGA-loader-overlay .ZEEGA-loader-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}
.ZEEGA-player-menu-bar {
  background: rgba(0, 0, 0, 0.5);
}
.ZEEGA-player-menu-bar .menu-bar-left {
  float: left;
}
.ZEEGA-player-menu-bar .menu-bar-right {
  float: right;
}
.ZEEGA-player-menu-bar .ZEEGA-menu-bar .menu-bar-title {
  padding: 10px;
  color: white;
}
.ZEEGA-player-menu-bar .ZEEGA-menu-bar > li {
  float: left;
  border-right: 1px solid rgba(0, 0, 0, 0.5);
}
.ZEEGA-player-menu-bar .ZEEGA-menu-bar > li:last-child {
  border-right: none;
}
.ZEEGA-player-menu-bar .ZEEGA-menu-bar > li > a {
  padding: 10px;
  display: block;
}
.ZEEGA-player-menu-bar .ZEEGA-menu-bar > li > a:hover {
  background: rgba(0, 0, 0, 0.1);
}
.ZEEGA-player-menu-bar:after {
  content: "";
  display: table;
  clear: both;
}
