<div class="ZEEGA-notices">
    <ul class="sticky">
        <li><i class="icon-headphones icon-white"></i> turn up volume</li>
    </ul>
    <ul class="rotating">
        <li class="click-to-start">click arrow to start</li>
    </ul>
</div>

<a href="#" class="ZEEGA-next controls-arrow arrow-right disabled"></a>

<div class="ZEEGA-loader-bg-overlay"></div>
<div class="ZEEGA-loader-bg"
    style="
        background: url(<%= cover_image %>);
        background-position: 50% 50%;
        background-repeat: no-repeat no-repeat;
        background-attachment: fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    "
></div>
