<a href="<%= path %>" <% if (window!=window.top) { %> target="blank" <% } %> >
    <div class="ZEEGA-tab">
        <div class="ZTab-logo"></div>
    </div>
</a>

<a href="<%= path %>register/" <% if (window!=window.top) { %> target="blank" <% } %> data-bypass="true" class="btnz btnz-join">Join Zeega</a>

<div class="menu-right">
    <a class="social-share-icon" href="https://twitter.com/intent/tweet?original_referer=<%= path %><%= id %>&text=<%= title %> <%= path %><%= id %> made w/ @zeega" target="blank"><i class="zsocial-twitter"></i></a>
    <a class="social-share-icon" href="http://www.facebook.com/sharer.php?u=<%= path %><%= id %>" target="blank"><i class="zsocial-facebook"></i></a>
    <a class="social-share-icon" href="http://www.tumblr.com/share/photo?<%= tumblr_share %>" target="blank"><i class="zsocial-tumblr"></i></a>

    <a href="#" id="project-fullscreen-toggle" class="btnz">fullscreen</a>
    <a class="ZEEGA-sound-state" style="display:none;"></a>
</div>