<a href="http://www.zeega.com">
    <div class="ZEEGA-tab">
        <div class="ZTab-logo"></div>
    </div>
</a>

<a href="http://zeega.com/register/" data-bypass="true" class="btnz btns-join">Join Zeega</a>

<div class="menu-right">
    <a class="social-share-icon" href="https://twitter.com/intent/tweet?original_referer=http://www.zeega.com/<%= item_id %>&text=<%= title %> http://www.zeega.com/<%= item_id %> made w/ @zeega" target="blank"><i class="zsocial-twitter"></i></a>
    <a class="social-share-icon" href="http://www.facebook.com/sharer.php?u=http://www.zeega.com/<%= item_id %>" target="blank"><i class="zsocial-facebook"></i></a>
    <a class="social-share-icon" href="http://www.tumblr.com/share/photo?<%= tumblr_share %>" target="blank"><i class="zsocial-tumblr"></i></a>
    <a href="#" id="project-fullscreen-toggle" class="btnz">fullscreen</a>
</div>