<div class="ZEEGA-chrome-metablock">
    <div class="meta-inner">
        <div class="left-col">
            <a href="http://zeega.com/user/<%= userId %>" target="blank" data-bypass="true">
                <div class="profile-token"
                    style="
                        background-image: url(<%= userThumbnail %>);
                        background-size: cover;
                    "
                ></div>
            </a>
        </div>
        <div class="right-col">
            <div class="caption"><%= title %></div>
            <div class="username">
                <a class="profile-name" href="http://zeega.com/user/<%= userId %>" data-bypass="true">
                    <%= authors %>
                </a>
                <span class="zeega-views"> <i class="icon-play icon-white"></i> <% if ( !_.isNumber( views ) ) { views = 0 ;} %><%= views %> <% if ( views != 1 ) { %>views<% } else { %>view<% } %></span>
            </div>
        </div>

        <div class="citations">
            <ul></ul>
            <div class="citation-meta">
                <div class="citation-title"></div>
            </div>
        </div>
        <a href="#" class="ZEEGA-home"></a>
    </div>
</div>