
<div class= "controls-wrapper left">
    <ul class="ZEEGA-standalone-controls">
        <li><a class="history-nav" id="project-home" href="#" ><i class="home-zcon"></i></a></li>
    </ul>
</div>
<div class= "controls-wrapper">
    <ul class="ZEEGA-standalone-controls">
        <li><a id="project-play-pause" href="#" ><i class="pause-zcon"></i></a></li>
        <li><a class="history-nav" id="project-back" href="#" ><i class="back-zcon"></i></a></li>
    </ul>
</div>
<div class= "controls-wrapper">
    <ul class="ZEEGA-standalone-controls right">
        <li><a id="project-next" href="#" ><i class="next-zcon"></i></a></li>
    </ul>
</div>
<ul class="ZEEGA-citations-primary"></ul>
