<ul class='ZEEGA-menu-bar menu-bar-left'>
	<li><a id='project-play-pause' href='#' ><i class='icon-pause icon-white'></i></a></li>
	<li class='menu-bar-title'><span class='project-title'><%= title %></span><span class='sequence-description'></span></li>
</ul>
<ul class='ZEEGA-menu-bar menu-bar-right'>
	<li><a id='project-share' href='#'>share</a></li>
	<li class='slide-menu'>
		<a href='https://twitter.com/intent/tweet?original_referer=http://alpha.zeega.org/<%= id %>&text=Zeega%20Project%3A%20<%= title %> &url=http://alpha.zeega.org/<%= id %>' target='blank'><i class='zsocial-twitter'></i></a>
		<a href='http://www.facebook.com/sharer.php?u=http://alpha.zeega.org/<%= id %>' target='blank'><i class='zsocial-facebook'></i></a>
		<a href='http://www.tumblr.com/share' target='blank'><i class='zsocial-tumblr'></i></a>
		<a href='mailto:friend@example.com?subject=Check out this Zeega!&body=http://alpha.zeega.org/<%= id %>'><i class='zsocial-email'></i></a>
	</li>
	<li><a id='project-credits' href='#'><i class='icon-align-justify icon-white'></i></a></li>
	<li><a id='project-fullscreen-toggle' href='#'><i class='icon-resize-full icon-white'></i></a></li>
</ul>
