<div class="ZEEGA-chrome-metablock">
    <div class="meta-inner">
        <div class="left-col">
            <a href="http://zeega.com/user/<%= userId %>" target="blank">
                <div class="profile-token"><img src="<%= userThumbnail %>"/></div>
            </a>
        </div>
        <div class="right-col">
            <div class="caption"><%= description %></div>
            <div class="username">
                <a href="http://zeega.com/user/<%= userId %>" target="blank">
                    <div class="profile-name"><%= authors %></div>
                </a>
            </div>
        </div>
        <div class="citations">
            <ul></ul>
            <div class="citation-meta">
                <div class="citation-title"></div>
            </div>
        </div>
    </div>
</div>