
<% if ( !window.frameElement || !window.frameElement.getAttribute("hidechrome") ) { %>

<a href="<%= path %>" <% if (window!=window.top ) { %> target="blank" <% } %> data-bypass="true" >
    <div class="ZEEGA-tab">
        <div class="ZTab-logo"></div>
    </div>
</a>



<a href="<%= path %>register/" <% if (window!=window.top) { %> target="blank" <% } %> data-bypass="true" class="btnz btnz-join">Join Zeega</a>

<% } %>

<div class="menu-right">
    <span class ="share-network">
        <a name="twitter" class="social-share-icon" href="<%= share_links.twitter %>" target="blank"><i class="zsocial-twitter"></i></a>
        <a name="facebook" class="social-share-icon" href="<%= share_links.facebook %>" target="blank"><i class="zsocial-facebook"></i></a>
        <a name="tumblr" class="social-share-icon" href="<%= share_links.tumblr %>" target="blank"><i class="zsocial-tumblr"></i></a>
        <a name="reddit" class="social-share-icon" href="<%= share_links.reddit %>" target="blank"><i class="zsocial-reddit"></i></a>
    </span>
    <a href="#" id="project-fullscreen-toggle" class="btnz">fullscreen</a>
    <a class="ZEEGA-sound-state" style="display:none;"></a>
</div>